In [1]:
import pandas as pd
import numpy as np
import os 
import plotly.express as px
from datetime import timedelta
import openpyxl

In [2]:
def extract_yearly_highs_lows(file_path, drop_na=True):
    # Load the CSV file
    data = pd.read_csv(file_path)
    # Initialize a dictionary to store the results
    yearly_stats = {}
    # Extract the range of years from the columns
    years = range(2004, 2025)
    # Iterate through each year
    for year in years:
        date_col = f'Timestamp.{year}'
        price_col = str(year)
        # Check if the expected columns are present
        if date_col in data.columns and price_col in data.columns:
            # Handle missing values in the timestamps
            if drop_na:
                year_data = data[[date_col, price_col]].dropna()
            else:
                year_data = data[[date_col, price_col]].fillna({date_col: 0}).dropna(subset=[price_col])
            if not year_data.empty:
                
                data_df = {
                    'Date': year_data[date_col],
                    'Price': year_data[price_col]
                }
                data_df = pd.DataFrame(data_df)
                base_path = "/workspaces/Futures-First/Prediction/data"
                file_name = f"{year}.csv"
                full_path = os.path.join(base_path, file_name)

                # Save DataFrame to CSV
                data_df.to_csv(full_path, index=False)
                # print(year_data[price_col])
        else:
            print(f"Columns for the year {year} are missing in the data")
    return data_df

In [ ]:
df = extract_yearly_highs_lows('/workspaces/Futures-First/data/W_U24-Z24.csv')
df

In [ ]:
df = pd.read_csv('/workspaces/Futures-First/Prediction/data/SB_nov-jan/2024.csv')
df

In [6]:
# df = df.rename(columns={'SBX24-F25.OPEN':'OPEN','SBX24-F25.HIGH':'HIGH','SBX24-F25.LOW':'LOW','SBX24-F25.CLOSE':'CLOSE'})
# df = pd.read_csv('/workspaces/Futures-First/Prediction/data/SB Nov-Jan/SB Nov-Jan.csv')
df = pd.read_excel('//workspaces/Futures-First/Prediction/data/ZC Jul-Sep/ZC Jul-Sep.xlsx')
df

,Timestamp (UTC),Open,High,Low,Close,Unnamed: 5,Timestamp (UTC).1,Open.1,High.1,Low.1,...,Open.8,High.8,Low.8,Close.8,Unnamed: 53,Timestamp (UTC).9,Open.9,High.9,Low.9,Close.9
0,2023-08-08,25.00,25.00,25.00,25.00,NaN,2022-02-09,50.0,50.0,50.00,...,4.75,4.75,4.50,4.50,NaN,2015-04-15,5.00,5.00,4.50,4.5
1,2023-09-01,22.50,30.50,22.50,30.50,NaN,2022-02-24,65.0,65.0,65.00,...,3.75,3.75,3.75,3.75,NaN,2015-04-16,5.50,6.50,5.50,6.5
2,2023-10-12,24.25,24.25,24.25,24.25,NaN,2022-04-18,56.5,60.5,56.50,...,4.25,4.25,4.25,4.25,NaN,2015-04-17,6.75,6.75,6.50,6.5
3,2023-10-20,22.25,22.25,22.25,22.25,NaN,2022-07-05,32.5,32.5,30.75,...,4.25,4.25,4.25,4.25,NaN,2015-04-21,5.25,5.25,5.00,5.0
4,2023-10-25,16.50,16.50,16.50,16.50,NaN,2022-07-08,42.5,42.5,42.50,...,4.00,4.00,4.00,4.00,NaN,2015-04-22,4.75,6.00,4.75,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
441,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
442,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
443,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
444,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [3]:
temp = df.iloc[:,0:5].dropna()
temp.columns = ['Date', 'Open','High','Low','Close']
temp.to_csv('/workspaces/Futures-First/Prediction/data/HG Sep-Dec/2024.csv',index=False)

In [7]:
ls = ['2023','2022','2021','2020','2019','2018','2017','2016']
j = 6
for i in ls:
    
    temp = df.iloc[:,j:j+5].dropna()
    j = j+6
    temp.columns = ['Date', 'Open','High','Low','Close']

    # Convert the 'Date' column to datetime format
    temp['Date'] = pd.to_datetime(temp['Date'])
    
    # Find the last date in the temp DataFrame
    last_date = temp['Date'].max()
    
    # Calculate the date one year before the last date
    one_year_ago = last_date - timedelta(days=365)
    
    # Filter the data to only include the last one year
    temp = temp[temp['Date'] >= one_year_ago]

    temp.to_csv('/workspaces/Futures-First/Prediction/data/ZC Jul-Sep/'+i+'.csv',index=False)
    print(temp)

          Date   Open   High    Low  Close
145 2023-07-13  11.50  14.50  11.25  12.75
146 2023-07-14  13.25  18.00  12.25  17.00
147 2023-07-17  17.75  21.50  15.50  16.75
148 2023-07-18  16.75  21.75  16.75  19.75
149 2023-07-19  20.00  29.00  19.50  25.50
..         ...    ...    ...    ...    ...
391 2024-07-08   0.75   4.00  -1.00   1.50
392 2024-07-09   7.75  10.00   1.00   6.25
393 2024-07-10   7.00  10.00   6.75   8.00
394 2024-07-11  14.00  14.00   8.00   8.00
395 2024-07-12   6.50   6.50   1.00   1.00

[251 rows x 5 columns]
          Date   Open    High    Low  Close
160 2022-07-13  28.75   32.75  25.75  29.75
161 2022-07-14  31.75   33.00  28.25  30.00
162 2022-07-15  30.00   32.25  28.75  32.25
163 2022-07-18  33.25   34.50  30.25  31.50
164 2022-07-19  30.00   30.00  24.00  27.00
..         ...    ...     ...    ...    ...
407 2023-07-07  66.25   77.00  65.50  71.75
408 2023-07-10  70.25   80.00  68.00  80.00
409 2023-07-11  78.25   89.00  77.00  80.00
410 2023-07-12  79.75   79.75  66.75  75.00
411 2023-07-13  79.50  100.00  77.75  90.00

[252 rows x 5 columns]
          Date    Open    High     Low   Close
192 2021-07-13   45.75   53.25   43.50   49.00
193 2021-07-14   48.50   61.25   48.50   59.50
194 2021-07-15   58.75   58.75   54.25   54.25
195 2021-07-16   54.75   57.75   50.75   51.50
196 2021-07-19   57.00   59.00   51.50   52.25
..         ...     ...     ...     ...     ...
440 2022-07-07  150.25  154.50  125.00  136.00
441 2022-07-08  134.50  150.00  133.00  144.00
442 2022-07-11  139.75  150.00  127.00  145.00
443 2022-07-12  144.25  150.00  138.00  138.00
444 2022-07-13  140.75  149.75  118.00  140.00

[253 rows x 5 columns]
          Date    Open    High     Low   Close
179 2020-07-13    1.50    1.50   -0.75   -0.25
180 2020-07-14    0.00    0.75   -0.50   -0.50
181 2020-07-15   -0.50    0.00   -1.00   -0.25
182 2020-07-16    0.25    1.25    0.00    0.50
183 2020-07-17    0.75    1.00    0.25    0.50
..         ...     ...     ...     ...     ...
427 2021-07-07  109.50  115.00  106.25  111.00
428 2021-07-08  111.00  117.00  100.00  101.00
429 2021-07-09  103.50  106.50   90.00  100.25
430 2021-07-12  100.25  124.00   90.00  124.00
431 2021-07-13  104.00  196.50  104.00  134.75

[253 rows x 5 columns]
          Date   Open   High    Low  Close
160 2019-07-15  37.25  39.75  31.50  34.00
161 2019-07-16  34.25  34.25  28.50  30.25
162 2019-07-17  30.75  32.00  27.50  28.00
163 2019-07-18  28.25  28.25  23.00  24.50
164 2019-07-19  24.25  27.25  24.25  25.75
..         ...    ...    ...    ...    ...
407 2020-07-07   0.25   2.50   0.25   1.50
408 2020-07-08   2.00   2.25   1.00   2.00
409 2020-07-09   1.75   2.50   1.50   2.50
410 2020-07-10   2.50   3.50   1.50   3.50
411 2020-07-13   3.50   7.00   2.25   7.00

[252 rows x 5 columns]
          Date  Open  High   Low  Close
155 2018-07-11  0.25  0.25 -2.00  -2.00
156 2018-07-12 -2.25 -1.50 -3.25  -2.00
157 2018-07-13 -2.00 -2.00 -3.75  -3.00
158 2018-07-16 -2.50 -2.00 -3.50  -3.50
159 2018-07-17 -2.75 -2.50 -3.25  -2.75
..         ...   ...   ...   ...    ...
403 2019-07-05 -4.00 -2.50 -6.75  -4.00
404 2019-07-08 -2.50 -0.50 -3.00  -0.50
405 2019-07-09 -0.50  0.75 -0.75  -0.75
406 2019-07-10 -0.50  0.50 -2.50  -1.75
407 2019-07-11 -0.25  3.50 -0.25   3.50

[253 rows x 5 columns]
          Date   Open   High   Low  Close
107 2017-07-12  10.00  10.25  6.00   6.50
108 2017-07-13   6.00   6.50  1.00   1.50
109 2017-07-14   2.00   3.00  1.00   1.75
110 2017-07-17   1.50   1.75  0.00   0.50
111 2017-07-18   0.75   3.25 -0.50  -0.25
..         ...    ...    ...   ...    ...
352 2018-07-06  -8.75  -8.50 -9.00  -8.75
353 2018-07-09  -8.75  -8.25 -8.75  -8.25
354 2018-07-10  -8.50  -8.00 -8.75  -8.00
355 2018-07-11  -8.00  -8.00 -9.25  -8.75
356 2018-07-12  -9.00  -8.25 -9.25  -9.00

[250 rows x 5 columns]
          Date   Open   High    Low  Close
116 2016-07-13   0.50   3.00   0.25   1.50
117 2016-07-14   2.25   4.00   0.00   0.75
118 2016-07-15   0.25   1.00  -1.25  -1.00
119 2016-07-18  -0.50  -0.50  -1.75  -0.50
120 2016-07-19  -1.00  -1.00  -2.50  -1.75
..         ...    ...    ...    ...    ...
363 2017-07-07 -10.25 -10.00 -10.25 -10.25
364 2017-07-10 -10.25 -10.00 -10.50 -10.00
365 2017-07-11  -9.75  -9.50 -10.00  -9.75
366 2017-07-12  -9.50  -9.25  -9.75  -9.25
367 2017-07-13  -9.25  -8.50  -9.50  -8.75

[252 rows x 5 columns]